body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  color: white;
  background-image: linear-gradient(90deg, rgb(34, 34, 34), black);
}

nav {
  width: 215px;
}

.main_div {
  margin-left: 202px;
}

/* -------------------- TOPNAV -------------------- */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(0deg, #000000, #2c2c2c);
  position: fixed;
  font-size: 25px;
  height: 100vh;
  width: 210px;
}

.li_img {
  background-image: url(pictures/header-dark.jpg);
  width: 100%;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: deepskyblue;
  color: white;
}

li a:hover {
  background-color: rgba(0, 191, 255, 0.5);
  color: white;
}


/* -------------------- SEARCH -------------------- */
.search {
  position: fixed;
  left: 225px;
  top: 10px;
  right: 10px;
  font-size: 25px;
  padding: 10px 10px;
  flex-wrap: wrap;
  border-radius: 20px;
  color: white;
  background-color: rgb(40, 40, 40);
}

.search a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.search a:visited {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/* -------------------- DOWNNAV -------------------- */
.downNav {
  position: fixed;
  left: 10px;
  bottom: 0px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  padding: 10px 10px;
  flex-wrap: wrap;
  float: right;
  border-radius: 30px 30px 0px 0px;
  color: white;
  background-color: rgb(40, 40, 40);
  z-index: 1;
}

.downNav a {
  flex-wrap: wrap;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;

  width: 200px;
  height: 30px;
  transition: width 0.5s;
}

.downNav a:hover {
  border-radius: 20px;
  background-color: rgba(0, 191, 255, 0.3);
  text-align: center;
  color: deepskyblue;
  width: 250px;
}

/* -------------------- TITLE -------------------- */
.title1 {
  padding-top: 90px;
  color: deepskyblue;
  font-size: 25px;
}

.title2 {
  padding-top: 7px;
  color: deepskyblue;
  font-size: 25px;
}

/* -------------------- FOR MUSIC -------------------- */
.div {
  padding: 10px 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 20px;
}

.mdiv {
  width: 164px;
  border-radius: 15px;
  font-size: 15px;
  background-color: rgb(40, 40, 40);
}

.mdiv:hover {
  border-radius: 15px;
  font-size: 15px;
  background-color: rgb(70, 70, 70);
  scale: 1.075;
}

.mdiv a {
  color: white;
  text-decoration: none;
}

.mdiv img {
  width: 100%;
  border-radius: 15px;
}